{% extends "layout.html" %} {% block body %}
<div class="site-wrapper">

	<div class="site-wrapper-inner">

		<div class="cover-container">
			<div class="masthead clearfix">
				<div class="inner">
					<h3 class="masthead-brand">Cover</h3>
					<ul class="nav masthead-nav">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#">Features</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</div>
			</div>
			<div class="inner cover">
				<h1 class="cover-heading">Fantasy Front Office</h1>
				<p class="lead">Track all your teams here! Lorem Ipsum</p>
				<p class="container">
					<div class="form-group">
					<form method="post" class="form-signin" role="form" action="/login">
						<h2 class="form-signin-heading">Please sign in</h2>
						<input type="email" name="email" class="form-control"
							placeholder="Email address" required autofocus> 
						<input name="password" type="password" class="form-control" placeholder="Password"
							required>
						<div class="checkbox">
							<label> <input type="checkbox" value="remember-me">
								Remember me
							</label>
						</div>
						<button class="btn btn-lg btn-primary" type="submit">Sign
							in</button>
					</form>
					</div>

				</p>
				<p>
				<a href="{{ url_for('register') }}"
					class="btn btn-primary btn-large"> Register Now!</a></p>
			</div>
		</div>
	</div>
</div>


{% endblock %} {% block head %}
<link href="{{ url_for('static', filename='css/cover.css') }}"
	rel="stylesheet">

<link href="{{ url_for('static', filename='css/bootstrap.css') }}"
	rel="stylesheet">
<link href="{{ url_for('static', filename='css/bootstrap-theme.css') }}"
	rel="stylesheet">


{% endblock %}
